@import '../var.scss';

.#{$prefix}copy-text {
  display: inline-flex;
  cursor: pointer;

  &:hover {
    color: var(--color-text1-3, #4d5968);
  }

  &-icon {
    user-select: none;
    color: var(--color-text1-3, #4d5968);

    &.next-icon::before {
      width: 1em;
      margin-left: 0.2em;
      font-size: 1em;
    }
  }

  &-val {
    flex: 1;
  }

  &-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
  }
}