$prefix: 'aep-';

$font-size-body-2: var(--font-size-body-2, 14px);
$color-text1-4: var(--color-text1-4, #2b323b);
$font-weight-2: var(--font-weight-2, 400);
$color-brand1-6: var(--color-brand1-6, rgba(2, 107, 255, 1));

$s-1: var(--s-1, 4px);

$img-btn-bg: var(--img-btn-bg, rgba(0, 0, 0, 0.3));
